[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py = "*"
build = "*"
twine = "*"
pysec-downloader = "*"
requests-mock = "*"

[dev-packages]

[requires]
python_version = "3.10"
